DJANGO_SETTINGS_MODULE=config.settings.local
DJANGO_SECRET_KEY=change-me
DJANGO_DEBUG=True
DJANGO_ALLOWED_HOSTS=localhost,127.0.0.1

DATABASE_ENGINE=django.db.backends.postgresql
DATABASE_NAME=horus_assurances
DATABASE_USER=horus_user
DATABASE_PASSWORD=change-me
DATABASE_HOST=localhost
DATABASE_PORT=5432

ASS_BASE_URL=https://kiiraytest.lasecu-assurances.sn
ASS_USERNAME=
ASS_PASSWORD=

WAVE_API_KEY=
WAVE_WEBHOOK_SECRET=

EMAIL_HOST=
EMAIL_PORT=587
EMAIL_HOST_USER=
EMAIL_HOST_PASSWORD=
EMAIL_USE_TLS=True
